.text-content{
    font-size: 18px !important;
    line-height: 1.7 !important;
}



.contact-box-section .left-sidebar-box .contact-image img {
    width: 100%;
}

.offer-section img{
    width: 100%;
    padding-bottom: 20px;
}

.newsletter-section .newsletter-box .newsletter-contain .newsletter-detail .input-box .sub-btn{
    top: 23% !important;
}

.newsletter-section .newsletter-box .newsletter-contain .newsletter-detail .input-box .arrow{
    top: 23% !important;
}